<div ng-controller="VISTASCtrl" class="carousel">
	<div style="height: 305px">
		<carousel interval="carouselInterval">
			<slide ng-repeat="slide in slides" active="slide.active">
				<img ng-src="{{slide.image}}"  style="margin:auto;"/>
				<div class="carousel-caption">
					<h1>{{slide.header}}</h1>
					<p>{{slide.text}}</p>
					<p>
						<a class="btn btn-info" href="#">
							<i class="fa fa-credit-card"></i> &nbsp Sign up today
						</a>
					</p>
				</div>
			</slide>
		</carousel>
	</div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<img src="assets/nsf.png" width="160"/>
			<h2>National Science Foundation</h2>
			<p>
				Conduct Ecology Informatics research to enable the required visual analytics and implement a proof of concept
				software tool: VISualization of Terrestrial-Aquatic Systems (VISTAS)
			</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img src="assets/osu.jpeg" width="160" />
			<h2>VISTAS</h2>
			<p>
				Funded by the National Science Foundation (BIO/DBI 1062572) and joint among scientists at The Evergreen
				State College, Oregon State University, and elsewhere, develops visual analytics software to enable scientists
				to better understand and communicate about large and complex environmental problems that span spatial and
				temporal scales.
			</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img src="assets/bitbucket.jpg" width="160"/>
			<h2>Source Code</h2>
			<p>
				VISTAS is currently under development and  we do NOT recommend using it unless you are working with the
				development team.  Note that it is being implemented to run on PCs only.
			</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->

	<hr class="featurette-divider">

	<div ng-controller="CollapseCtrl">
		<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
		<hr>
		<div collapse="isCollapsed">
			<div class="well well-lg">
				Cujus indicium est, quod necesse est, gravi de rebus publicis internationalibus consiliis, et nongovernmental
				actiones cancer, ne in low-et medio-reditus terris. Vitandum etiam ne fama iterum in Litteris legimus, ut
				regionibus elit.

			</div>
		</div>

	</div>


	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive" src="assets/v3.png" />
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-responsive" src="assets/v2.png" />
		</div>
		<div class="col-md-7">
			<h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
			<p class="lead">Vestibulum vestibulum ante ut turpis gravida pulvinar. Nunc dignissim nibh nec tortor dictum feugiat.
				Mauris pharetra euismod orci, ut posuere quam porttitor ut. Donec porttitor quis arcu eu pretium.
				Aliquam varius quam semper est commodo, vitae varius enim lacinia. Phasellus eget urna urna.
				Proin luctus sodales arcu, porta consequat augue malesuada vel. Vivamus rhoncus, magna eu ultrices mollis,
				velit nisi accumsan est, in convallis ligula tellus in purus.
			</p>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive" src="assets/v1.png"/>
		</div>
	</div>

	<hr class="featurette-divider">

	<!-- /END THE FEATURETTES -->


	<!-- FOOTER -->
	<footer>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</footer>

</div><!-- /.container -->