<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
<head>
	<title ng-bind="pageTitle"></title>

	<!-- social media tags -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@joshdmiller">
	<meta name="twitter:title" content="ngBoilerplate">
	<meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
	<meta name="twitter:creator" content="@joshdmiller">
	<meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
	<meta property="og:title" content="ngBoilerplate" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://bit.ly/ngBoilerplate" />
	<meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
	<meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

	<!-- font awesome from BootstrapCDN -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
	<link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

	<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
	<script type="text/javascript" src="<%= file %>"></script><% }); %>

	<!-- it's stupid to have to load it here, but this is for the +1 button -->
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
		{ "parsetags": "explicit" }
	</script>
</head>
<body>
<div class="navbar-wrapper">
	<div class="container">

		<div class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Project name</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>



<div ui-view="main"></div>

<footer class="footer">
	<div class="container">
		<div class="footer-inner">
			<ul class="social">
				<li><a target="_blank" href="http://gplus.to/joshdmiller"><i class="icon-google-plus-sign"></i></a></li>
				<li><a target="_blank" href="http://twitter.com/joshdmiller"><i class="icon-twitter-sign"></i></a></li>
				<li><a target="_blank" href="http://linkedin.com/in/joshdmiller"><i class="icon-linkedin-sign"></i></a></li>
				<li><a target="_blank" href="http://github.com/joshdmiller/ng-boilerplate"><i class="icon-github-sign"></i></a></li>
			</ul>


			<p>
				(c) 2013 Josh David Miller.
				<a href="http://github.com/joshdmiller/ng-boilerplate/fork_select">Fork this</a>
				to kickstart your next project.
				<br />
				ng-boilerplate is based on
				<a href="http://www.angularjs.org">AngularJS</a>,
				<a href="http://getbootstrap.com">Bootstrap</a>,
				<a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
				and
				<a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.
			</p>
		</div>
	</div>
</footer>
</body>
</html>
