<ion-content style='padding-top: 44px;'>
<div class='list'>

	<div ng-repeat='(key, value) in items' class='item item-thumbnail-left item-icon-right fade-in' ng-click='toggleSelection(key)' >
		<img ng-src='{{value.image}}'>
		<h2>{{value.name}}</h2>
		<h3> ${{value.cost}}</h3>
		<p>{{value.description}}</p>
		<i ng-show='value.selected' class='icon ion-checkmark-round'></i>
	</div>

</div>
<div class='filler'>

</div>
</ion-content>


<div class='bar bar-footer' style='bottom: 49px; border-style: solid; border-color: #b2b2b2'>
	<button ng-click='onDone()' class='button button-positive'>
		Send Order
	</button>
	<div class='title info'>
		Total Cost = ${{totalCost()}}
	</div>
</div>