<ion-content style='padding-top: 44px;'>
<div ng-show='orders.length === 0' class='card'>
	<div class='item item-text-wrap'>
		No orders pending...
	</div>
</div>

<div ng-repeat='order in orders' class='card'>
	<div class='item item-divider'>
		Name: {{order.customer}}
	</div>
	<div class='item item-text-wrap'>
		<h2 ng-repeat='item in order.items' class='vir-horizontal-element'>
		{{item}} 
		</h2> 
		<div class='vir-horizontal-element vir-control'>
			<a class='button button-positive' ng-click='onDone(order.customer)'>Done</a>
			<a class='button button-assertive' ng-click='onMore(order.customer)'>+30</a>
			<a class='button button-balanced' ng-click='onLess(order.customer)'>-30</a>
		</div>

	</div>
	<div class='item item-divider'>
		Time Left: {{order.deliveryTime}} seconds
	</div>
</div>

<div class='filler'>

</div>
</ion-content>
