<ion-content style='padding-top: 44px; padding-bottom: 51px'>
<div class='list'>
	<label class='item item-input item-stacked-label'>
		<span class='input-label'>First Name</span>
		<input type='text' placeholder='Julius' ng-model='settings.name'>
	</label>
	<label class='item item-input item-stacked-label'>
		<span class='input-label'>Last Name</span>
		<input type='text' placeholder='Caesar' ng-model='settings.lastname'>
	</label>
	<label class='item item-input item-stacked-label'>
		<span class='input-label'>Email</span>
		<input type='text' placeholder='john@suhr.com' ng-model='settings.email'>
	</label>
</div>

<ul class='list'>

	<li class='item item-toggle'>
	Tint every food green
		<label class='toggle toggle-assertive'>
			<input type='checkbox'>
			<div class='track'>
				<div class='handle'></div>
			</div>
		</label>
	</li>

	<li class='item item-toggle'>
	Self-destruct on error
		<label class='toggle toggle-assertive'>
			<input type='checkbox'>
			<div class='track'>
				<div class='handle'></div>
			</div>
		</label>
	</li>

</ul>

<div class='filler'>

</div>
</ion-content>